doctype html
html(lang="en")
  head
    title= title
    script.
      var gon = !{JSON.stringify(gon)};
  body.d-flex.flex-column
    .navbar.navbar-light.bg-light
      a.navbar-brand(href="/") Chat
    .container
      #chat
    script(src='/assets/main.js')